<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}{% endblock %}</title>
        {%  block stylesheets %}{% endblock %}


    </head>
    <body>
        {% block header %}{% endblock %}
        <section>
            {% block nav %}{% endblock %}
            {% block body %}{% endblock %}
        </section>

        {% block footer %}{% endblock %}
    </body>
</html>
